.work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 25rem;
    padding: 2rem;
    background: rgba( 0, 0, 0, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17px );
    -webkit-backdrop-filter: blur( 17px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem ;
    gap: 1rem;
}

.work-h1 {
    font-size: 1.5rem;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.road1 {
  text-align: start;
  padding: 0.5rem;
  border-left: 0.5rem solid rgba(255, 255, 255, 0.285);
  border-top: 0.5rem solid rgba(255, 255, 255, 0.285);
  border-bottom: 0.25rem solid rgba(255, 255, 255, 0.285);
  width: 9rem;
  height: 5rem;
  border-radius: 1rem 1rem 0 0;
}
  
.road1 p {
  font-size: 0.7rem;
  font-weight: 600;
}

.road2 {
  text-align: end;
  padding: 0.5rem;
  border-right: 0.5rem solid rgba(255, 255, 255, 0.285);
  border-top: 0.25rem solid rgba(255, 255, 255, 0.285);
  border-bottom: 0.25rem solid rgba(255, 255, 255, 0.285);
  width: 9rem;
  height: 5rem;
}

.road2 p {
  font-size: 0.7rem;
  font-weight: 600;
}

.road3 {
  text-align: start;
  padding: 0.5rem;
  border-left: 0.5rem solid rgba(255, 255, 255, 0.285);
  border-top: 0.25rem solid rgba(255, 255, 255, 0.285);
  border-bottom: 0.5rem solid rgba(255, 255, 255, 0.285);
  width: 9rem;
  border-radius: 0 0 1rem 1rem;
  height: 5rem;
}

.road3 p {
  font-size: 0.7rem;
  font-weight: 600;
}
  
  